.container {
  display: flex;
}

.rojo, .naranja, .amarillo, .verde, .aqua, .rosa {
  width: 80px;
  height: 80px;
  border-bottom: 1px solid black;;
}

.rojo {
  background-color: red;
}

.naranja {
  background-color: orange;
}

.amarillo {
  background-color: yellow;
}

.verde {
  background-color: green;
}

.aqua {
  background-color: aqua;
}

.rosa {
  background-color: pink;
}


.colores, .pintar {
  border: 1px solid black;
}

.pintar{ 
  width: 500px;
}

